POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mes_platform
POSTGRES_USER=mes_user
POSTGRES_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PORT=6379

MES_BASE_URL=http://mes.internal
MES_USERNAME=mes_auto_user
MES_PASSWORD=your_password
MES_FACTORY=Auto_THA

SECRET_KEY=change_me_32chars
AES_KEY=change_me_32chars_aes_encryption_
ENVIRONMENT=development
LOG_LEVEL=INFO
CORS_ORIGINS=http://localhost:3000
